- if @survey
  %h2= @survey.title
  = form_tag submit_response_path do
    %section#questions
      %ol
        - @survey.questions.each do |question|
          %li.question
            %label{ class: ('required' if question.required) }= question.content
            .answers
              = render_answers_for(question)

      .actions
        = submit_tag 'Send', class: 'btn'

- else
  %p.empty This survey expired. Please contact your adviser to take this survey.

:css
  .required:after {
    content: "* ";
    color: red;
    font-size: 2em;
  }

