%header
  %h2 #{@response.survey.title} - Response of #{@response.responseable.full_name}

%article.body
  - @response.response_answers.group_by { |ra| ra.question }.each do |question, responses|
    %p
      .question
        = question.content

        - responses.each do |response|
          .answer
            = response.answer.try(:content) || response.free_content

= link_to 'Back', :back

