= content_for :breadcrumbs do
  %li.current= link_to "#{@response.survey.title} - Response of #{@response.respondable}", '#'

%section

  %header
    %h2 #{@response.survey.title} - Response of #{@response.respondable}

  %article.body
    %dl.responses
      - @response.response_answers.group_by { |ra| ra.question }.each do |question, responses|
        .response-block
          %dt.question
            = question.content

            - responses.each do |response|
              %dd.answer
                = response.answer.try(:content) || response.free_content

    .form-actions
      = link_to 'Back', :back, class: 'button'