#survey_form
  = form_for @survey, id: 'survey_form' do |form|
    - if @survey.errors.full_messages.any?
      %section#error.alert.alert-error= @survey.errors.full_messages.join(', ')

    %ol
      %li#survey
        = form.label :title, 'Survey name'
        = form.text_field :title

      %li
        = form.check_box :enabled
        = form.label :enabled, 'Enabled?'

      %li#questions
        %label Questions

        %ol.questions_list
          = form.fields_for :questions do |form_question|
            = render 'question_fields', form: form_question

        = link_to_add_fields 'Add question', form, :questions

        .clearfix

    %section#actions
      .actions
        = form.submit 'Save', class: 'button'
        = link_to 'Cancel', surveyable_surveys_path
        .clearfix
