.question
  %li
    %h5 Question
  %li.well
    .fields
      .content
        = form.text_field :content
        = link_to_remove_fields 'x', form
      .options
        = form.label :field_type, 'Answer type'
        = form.select :field_type, options_for_select(Surveyable::Question::FIELD_TYPES, form.object.field_type)
        = form.label :required
        = form.check_box :required
      .clearfix

      %section#answers
        %table.table.table-bordered.table-condensed
          = form.fields_for :answers do |form_answer|
            = render 'answer_fields', form: form_answer
        = link_to_add_fields 'Add answer', form, :answers
        .clearfix
