%li.question_field.text_field.togglable
  %ol.fields  

    %li
      %label Question
      = form.text_field :content
    
    %fieldset.options
      %li
        = form.label :field_type, 'Answer type'
        = form.select :field_type, options_for_select(Surveyable::Question::FIELD_TYPES, form.object.field_type), {}, { class: 'question_field_type_select' }
      
      %li.checkbox_field
        = form.check_box :required
        = form.label :required
      
      .clearfix

    %fieldset#answers
      = form.fields_for :answers do |form_answer|
        = render 'answer_fields', form: form_answer
      .clearfix

      = link_to_add_fields 'Add answer', form, :answers

  = link_to_remove_fields 'x', form