%li.question_field.text_field.togglable
  .handle.question_field_handle
  %ol.fields
    = form.hidden_field :position, class: "question-position"

    %li.question-title-field
      %label Question
      = form.text_field :content

    %fieldset.options
      %li
        = form.label :field_type, 'Answer type'
        = form.select :field_type, options_for_select(Surveyable::Question::FIELD_TYPES, form.object.field_type), {}, { class: 'question_field_type_select' }

      %li.checkbox_field
        = form.check_box :required
        = form.label :required

      %li.number_field
        = form.number_field :minimum, min: 0, max: 100, class: 'rank_field_min', placeholder: 'Minimum'
        = form.number_field :maximum, min: 0, max: 100, class: 'rank_field_max', placeholder: 'Maximum'

      .clearfix

    %fieldset.answers_list
      = form.fields_for :answers do |form_answer|
        = render 'answer_fields', form: form_answer
      .clearfix

      = link_to_add_fields 'Add answer', form, :answers

  = link_to_remove_fields 'x', form
