- content_for :breadcrumbs do
  %li.current= link_to 'Manage Surveys', surveyable_surveys_path
  %li.leader
    = link_to new_surveyable_survey_path do
      %i.icon-plus
      New Survey

- if @surveys.any?
  %table.table.table-striped.tablesorter
    %thead
      %tr
        %th Name
        %th # of questions
        %th # of invitations
        %th # of responses
        %th
    %tbody
      - @surveys.each do |survey|
        %tr
          %td= survey.title
          %td= survey.questions.count
          %td= survey.responses.count
          %td= survey.responses.completed.count
          %td
            = link_to 'Edit', edit_surveyable_survey_path(survey), class: 'btn'
            = link_to 'Delete', surveyable_survey_path(survey), method: :delete, confirm: 'Are you sure you want to delete this survey?', class: 'btn btn-danger'

- else
  %p.empty No surveys have been created yet.
